In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [4]:
jc_data_201912 = pd.read_csv('Resources/JC-201912-citibike-tripdata.csv')
jc_data_201911 = pd.read_csv('Resources/JC-201911-citibike-tripdata.csv')
jc_data_201910 = pd.read_csv('Resources/JC-201910-citibike-tripdata.csv')
jc_data_201909 = pd.read_csv('Resources/JC-201909-citibike-tripdata.csv')
jc_data_201908 = pd.read_csv('Resources/JC-201908-citibike-tripdata.csv')
jc_data_201907 = pd.read_csv('Resources/JC-201907-citibike-tripdata.csv')
jc_data_201906 = pd.read_csv('Resources/JC-201906-citibike-tripdata.csv')
jc_data_201905 = pd.read_csv('Resources/JC-201905-citibike-tripdata.csv')
jc_data_201904 = pd.read_csv('Resources/JC-201904-citibike-tripdata.csv')
jc_data_201903 = pd.read_csv('Resources/JC-201903-citibike-tripdata.csv')
jc_data_201902 = pd.read_csv('Resources/JC-201902-citibike-tripdata.csv')
jc_data_201901 = pd.read_csv('Resources/JC-201901-citibike-tripdata.csv')

In [5]:
jc_data_2019 = pd.concat([jc_data_201901, jc_data_201902, jc_data_201903, jc_data_201904, jc_data_201905,\
                       jc_data_201906, jc_data_201907, jc_data_201908, jc_data_201909, jc_data_201910,\
                       jc_data_201911, jc_data_201912], sort=False)

In [6]:
jc_data_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [7]:
jc_data_2019.to_csv('citibike_jc_2019.csv')

In [8]:
data_201912 = pd.read_csv('Resources/201912-citibike-tripdata.csv')
data_201911 = pd.read_csv('Resources/201911-citibike-tripdata.csv')
data_201910 = pd.read_csv('Resources/201910-citibike-tripdata.csv')
data_201909 = pd.read_csv('Resources/201909-citibike-tripdata.csv')
data_201908 = pd.read_csv('Resources/201908-citibike-tripdata.csv')
data_201907 = pd.read_csv('Resources/201907-citibike-tripdata.csv')
data_201906 = pd.read_csv('Resources/201906-citibike-tripdata.csv')
data_201905 = pd.read_csv('Resources/201905-citibike-tripdata.csv')
data_201904 = pd.read_csv('Resources/201904-citibike-tripdata.csv')
data_201903 = pd.read_csv('Resources/201903-citibike-tripdata.csv')
data_201902 = pd.read_csv('Resources/201902-citibike-tripdata.csv')
data_201901 = pd.read_csv('Resources/201901-citibike-tripdata.csv')

In [9]:
data_2019 = pd.concat([data_201901, data_201902, data_201903, data_201904, data_201905,\
                       data_201906, data_201907, data_201908, data_201909, data_201910,\
                       data_201911, data_201912], sort=False)

In [10]:
len(data_2019)

20551697

In [11]:
# Check number of rows per usertype and gender to help decide which group to analyze
data_2019.groupby(['usertype','gender']).count()

                   tripduration  starttime  stoptime  start station id  \
usertype   gender
Customer   0            1240743    1240743   1240743           1240743
           1            1046076    1046076   1046076           1046028
           2             585357     585357    585357            585353
Subscriber 0             319565     319565    319565            319562
           1           13006317   13006317  13006317          13006202
           2            4353639    4353639   4353639           4353629

                   start station name  start station latitude  \
usertype   gender
Customer   0                  1240743                 1240743
           1                  1046028                 1046076
           2                   585353                  585357
Subscriber 0                   319562                  319565
           1                 13006202                13006317
           2                  4353629                 4353639

                   start station longitude  end station id  end station name  \
usertype   gender
Customer   0                       1240743         1240743           1240743
           1                       1046076         1046028           1046028
           2                        585357          585353            585353
Subscriber 0                        319565          319562            319562
           1                      13006317        13006202          13006202
           2                       4353639         4353629           4353629

                   end station latitude  end station longitude    bikeid  \
usertype   gender
Customer   0                    1240743                1240743   1240743
           1                    1046076                1046076   1046076
           2                     585357                 585357    585357
Subscriber 0                     319565                 319565    319565
           1                   13006317               13006317  13006317
           2                    4353639                4353639   4353639

                   birth year
usertype   gender
Customer   0          1240743
           1          1046076
           2           585357
Subscriber 0           319565
           1         13006317
           2          4353639

In [16]:
# Check number of rows per "early birth year" to help decide if I eliminate most likely wrong data
data_2019.groupby(['birth year']).count()

In [18]:
# Final decision:
#  - Analyze Customers with identified gender
#  - Analyze only customer with birth year > 1920 (assuming the rest are misspelled birth year)

In [21]:
data_customer_2019 = data_2019[(data_2019['usertype'] == 'Customer') & (data_2019['gender'] != 0) & (data_2019['birth year'] > 1920)]

In [22]:
len(data_customer_2019)

1631251

In [23]:
data_customer_2019.to_csv('citibike_customers_2019.csv')