In [9]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [10]:
data_201912 = pd.read_csv('Resources/201912-citibike-tripdata.csv')
data_201911 = pd.read_csv('Resources/201911-citibike-tripdata.csv')
data_201910 = pd.read_csv('Resources/201910-citibike-tripdata.csv')
data_201909 = pd.read_csv('Resources/201909-citibike-tripdata.csv')
data_201908 = pd.read_csv('Resources/201908-citibike-tripdata.csv')
data_201907 = pd.read_csv('Resources/201907-citibike-tripdata.csv')
data_201906 = pd.read_csv('Resources/201906-citibike-tripdata.csv')
data_201905 = pd.read_csv('Resources/201905-citibike-tripdata.csv')
data_201904 = pd.read_csv('Resources/201904-citibike-tripdata.csv')
data_201903 = pd.read_csv('Resources/201903-citibike-tripdata.csv')
data_201902 = pd.read_csv('Resources/201902-citibike-tripdata.csv')
data_201901 = pd.read_csv('Resources/201901-citibike-tripdata.csv')

In [11]:
data_2019 = pd.concat([data_201901, data_201902, data_201903, data_201904, data_201905,\
                       data_201906, data_201907, data_201908, data_201909, data_201910,\
                       data_201911, data_201912], sort=False)

In [12]:
len(data_2019)

20551697

In [13]:
# Check number of rows per usertype and gender to help decide which group to analyze
data_2019.groupby(['usertype','gender']).count()

                   tripduration  starttime  stoptime  start station id  \
usertype   gender
Customer   0            1240743    1240743   1240743           1240743
           1            1046076    1046076   1046076           1046028
           2             585357     585357    585357            585353
Subscriber 0             319565     319565    319565            319562
           1           13006317   13006317  13006317          13006202
           2            4353639    4353639   4353639           4353629

                   start station name  start station latitude  \
usertype   gender
Customer   0                  1240743                 1240743
           1                  1046028                 1046076
           2                   585353                  585357
Subscriber 0                   319562                  319565
           1                 13006202                13006317
           2                  4353629                 4353639

                   start station longitude  end station id  end station name  \
usertype   gender
Customer   0                       1240743         1240743           1240743
           1                       1046076         1046028           1046028
           2                        585357          585353            585353
Subscriber 0                        319565          319562            319562
           1                      13006317        13006202          13006202
           2                       4353639         4353629           4353629

                   end station latitude  end station longitude    bikeid  \
usertype   gender
Customer   0                    1240743                1240743   1240743
           1                    1046076                1046076   1046076
           2                     585357                 585357    585357
Subscriber 0                     319565                 319565    319565
           1                   13006317               13006317  13006317
           2                    4353639                4353639   4353639

                   birth year
usertype   gender
Customer   0          1240743
           1          1046076
           2           585357
Subscriber 0           319565
           1         13006317
           2          4353639

In [14]:
# Check number of rows per "early birth year" to help decide if I eliminate most likely wrong data
data_2019.groupby(['birth year']).count()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender
birth year,,,,,,,,,,,,,,
1857,6,6,6,6,6,6,6,6,6,6,6,6,6,6
1863,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1874,5,5,5,5,5,5,5,5,5,5,5,5,5,5
1880,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1885,269,269,269,269,269,269,269,269,269,269,269,269,269,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,161943,161943,161943,161942,161942,161943,161943,161942,161942,161943,161943,161943,161943,161943
2000,124106,124106,124106,124094,124094,124106,124106,124094,124094,124106,124106,124106,124106,124106
2001,62453,62453,62453,62450,62450,62453,62453,62450,62450,62453,62453,62453,62453,62453
2002,27089,27089,27089,27084,27084,27089,27089,27084,27084,27089,27089,27089,27089,27089
2003,10291,10291,10291,10289,10289,10291,10291,10289,10289,10291,10291,10291,10291,10291

In [15]:
# Final decision:
#  - Analyze Customers with identified gender
#  - Analyze only customer with birth year > 1920 (assuming the rest are misspelled birth year)

In [16]:
data_customer_2019 = data_2019[(data_2019['usertype'] == 'Customer') & (data_2019['gender'] != 0) & (data_2019['birth year'] > 1920)]

In [17]:
len(data_customer_2019)

1631251

In [26]:
data_customer_2019 = data_customer_2019.dropna()
data_customer_2019 = data_customer_2019.reset_index()

In [29]:
data_customer_2019.to_csv('citibike_customers_2019.csv')